*{
  box-sizing: border-box;
  color: gray;
  font-family: sans-serif;
}

.mainBlock{
  border: 2px gray solid;
  border-radius: 5px;
  padding: 2%;
}

.searchBtn{
  color: white;
  background-color: rgb(49, 143, 237);
  border: blue 1px solid;
  border-radius: 3px;
}

.temperatureDisplay, .tempEmojiDisplay{
  font: larger;
}

h1{
  display: inline;
}

.temperatureDisplay{
  color: black;
  font-weight: bolder;
}

.colorBlack{
  color: black;
}

.colorBlue{
  color: rgb(49, 143, 237);
}

.center{
  text-align: center;
}